<div class="jumbotron">
	<div class="text-center">
		<h2 class="display-3  animated jackInTheBox">Welcome to iContact</h2>
		<p class="display-5">Your personal contacts invertory system.</p>
		<span><a class="regbtn btn btn-primary btn-sm" href="/users/register">Register</a></span>
	</div>
</div>
<div class="container">
	<div class="row space">
		<div class="col-sm-6">
			<h4><p class="text-center">Simplicity <i class="fa fa-check" aria-hidden="true"></i></p></h4>
			<p>Our application offers user-friendly system that helps you save your imporatant contacts through cloud.</p>
		</div>
		<div class="col-sm-6">
			<h4><p class="text-center">Functionality <i class="fa fa-cog" aria-hidden="true"></i></p></h4>
			<p>Our application is made with quality and is suited to serve its purpose well. No dramas at all. </p>
		</div>
	</div>
	<div class="row space">
		<div class="col-sm-6">
			<h4><p class="text-center">Accessibility <i class="fa fa-key" aria-hidden="true"></i></p></h4>
			<p>Since our app is cloud-based, you can easily pull up your saved contacts in case of emergency.</p>
		</div>
		<div class="col-sm-6">
			<h4><p class="text-center">Unrestricted <i class="fa fa-unlock-alt" aria-hidden="true"></i></p></h4>
			<p>There is no limit in your inventory. You can save as many as you want. No payments required.</p>
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="text-center text-color">
		<h2><p class="text-center space">Our Team</p></h2>
	</div>
	<div class="row space">
		<div class="col-sm-6">
			<figure>
				<img src="/images/gtar.jpg" alt="Marky" width="190px" height="200px">
			</figure>
			<div>
				<h3>Mark Paulo A. Cube</h3>
				<p><span>Developer <a target="_blank" href="https://www.facebook.com/markyangel13"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span></p>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
		<div class="col-sm-6">
			<figure>
				<img class="img-circle" src="/images/ben.png" alt="Benny" width="190px" height="200px">
			</figure>
			<div>
				<h3>Benito S. Mascariñas Jr.</h3>
				<p><span>Co-Developer <a target="_blank" href="https://www.facebook.com/bingboi.mascarinas"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></span></p>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
		</div>
	</div>
</div>

