<div class="jumbotron">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">This is your dashboard, {{#if user}}{{user.name}}{{/if}}</p>

      </div>

      <div class="row space">
        <div class="col-md-12">
        	Nothing to display.
        </div>
      </div>